$primaryBtnColor: white;


 * {
     margin: 0;
     padding: 0;
 }

 .flex {
     display: flex;
 }

 .flex-col {
     flex-direction: column;
 }

 body {
     background-image: url(/assets/img/stade.png);
     background-size: cover;

     header {
         background-color: rgb(30, 74, 196);
         width: 100%;
         justify-content: space-between;

         img {
             width: 100px;
             height: 100px;
             padding: 1.5rem;
         }

         div {
             justify-content: right;

             nav {
                 margin-top: 1.75rem;

                 ul {
                     list-style: none;
                     text-decoration: none;

                     li {
                         a {
                             padding: 1rem 2rem;
                             color: white;
                             text-decoration: none;

                             &:hover {
                                 background-color: rgb(182, 182, 182);
                                 color: black;
                             }
                         }
                     }
                 }
             }

             div.usermenu {
                 margin-top: 1rem;
                 margin-right: 2rem;

                 a {
                     text-decoration: none;
                     color: white;
                     text-align: right;
                     padding-left: .75rem;
                 }
             }
         }
     }
     main {
        form {
            width: 50%;
            margin: 0 auto;
            background: rgb(164, 16, 16);
            input {
                width: 50%;
                margin: .5rem auto;
                border-radius: 8px;
                padding: .75rem 1rem;
            }
            button[type=submit] {
                width: 25%;
                background: $primaryBtnColor;
                margin: 1rem auto;
                padding: 1rem 0;
                border-radius: 8px;
            }
            &.signup {
                h2 {
                    margin: 0 auto;
                }
                p {
                    text-align: center;
                    margin-bottom: 1rem;
                }

            }
        }
     }
 }
