$primaryColor: rgb(38, 38, 38);
$secondaryColor: rgb(59, 137, 180);
$bgAside: red;
$primaryText: white;
$textShadow: 2px 2px 2px black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

body {
    font-size: 16px;
    background: $secondaryColor;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
    &::-webkit-scrollbar{
        display: none;
    }
    aside {
        background: $bgAside;
        column-span: 1/1;
        nav {
                div {
                    margin: .75rem 1rem;
                    align-items: center;
                    a {
                        font-size: 1.75rem;
                        margin-left: .625rem;
                        text-shadow: $textShadow;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        
    main {
        column-span: 11/11;
        header {
            max-width: 1440px;
            width: 100%;
            nav {
                .flex {
                    justify-content: space-between;
                }
                >div{
                    width: 100%;
                    div {
                        a {
                            text-decoration: none;
                            color: $primaryText;
                        }
                    }
                    ul {
                        list-style: none;
                        li {
                            a {
                                text-decoration: none;
                            }
                        }
                    }

                }
            }
        }
    }
}